* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


.navbar img {
    width: 20%;
}

.navbar {
    background: #1F1300;
    width: 100%;
    height: 18em;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    /* align-content: center; */
    z-index: 4;
    padding: 1em;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    padding: 0 1em;
    font-size: 1.2em;
}

.navbar li a {
    align-self: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    
    
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome {
    background: #CC5803;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 18em;
}

.welcome h1 {
    align-self: flex-start;
    font-size: 6em;
    padding-left: 1em;
}


.bgr-container {
    align-self: center;
    width: 100%;
    opacity: 0.2;
}
    
.bgr-code {
    width: 100%;
    height: 100%;
}


.projects {
    background: #F7934C;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 13em;
}

.project-tile {
    background-color: white;
    display: flex;
    width: 9em;
}

.contact {
    background: #CC5803;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 13em;
}