* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(121, 17, 17);

}


.header {
    height: 14em;
}

.navbar img {
    width: 10em;
    height: 10em;
    align-self: center;
    margin-left: 3em;

}

.navbar {
    background: #1F1300;
    width: 100vw;
    height: 14em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    padding: 0 1em;
    font-size: 1.2em;
}

.navbar li a {
    align-self: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0 3em;


}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.welcome::before {
    background-image: url(./images/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
    opacity: 0.2;
}

.welcome::after {
    background-color: rgb(121, 17, 17);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.7;
}

.welcome h1 {
    align-self: center;
    font-size: 4em;
}

.bgr-code {
    opacity: 0.2;
    width: 100%;
    height: 100vh;
}

.projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(209, 152, 46);
    justify-content: space-evenly;
}

.projects h2 {
    font-size: 3em;
    align-self: center;
}

.project-tile-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.project-tile {
    background-color: rgb(255, 255, 255);
    width: 20em;
    height: 20em;
    
}

.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: brown;
    justify-content: center;
}