* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar img {
    width: 10%;
    margin-left: 5em;
    align-self: center;
    color: #fff;
}

.navbar {
    background: #1F1300;
    width: 100%;
    height: 18em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    padding: 1em;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    display: inline-flex;
    padding: 0 1.5em;
    font-size: 1.5em;
}

.navbar li a {
    align-self: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome {
    background: #CC5803;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.welcome h1 {
    align-self: center;
    font-size: 6em;
    padding-top: 3em;
    z-index: 3;
}

.welcome h3 {
    align-self: center;
    font-size: 3.5em;
    font-weight: 500;
    z-index: 3;
    text-align: center;
}

.welcome p {
    align-self: center;
    font-size: 2.5em;
    font-weight: 400;
    padding-top: 1em;
    z-index: 3;
    text-align: center;
    line-height: 1.5;
}

.bgr-container {
    align-self: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
    
.bgr-code {
    width: 100%;
    height: 100%;
}

.projects {
    background: #F7934C;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}

.projects h2 {
    align-self: center;
    font-size: 3em;
    font-weight: 400;
    z-index: 3;
    text-align: center;
    line-height: 1.5;
}

.project-tile-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}

.project-tile {
    background-color: white;
    width: 25vw;
    height: 50vh;
}

.contact {
    background: #CC5803;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 13em;
}